{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }} - Blog</title>
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
</head>
<body>

<div class="post">
    <img src="{% static post.image %}" alt="{{ post.title }}">
    <div class="post-content">
        <h2>{{ post.title|title }}</h2>
        <p>{{ post.article }}</p>
    </div>
</div>

</body>
</html>
