.post {
  
  text-align: center;       
  display: flex;
  flex-direction: row;
  align-items: center;          
  padding: 20px;
  color: #f0f0f0;
}

.post img {
    position: fixed;
    top: 0;
    left:  0;
    object-fit: cover;
    height: 100vh;
    width: 550px;
}

h2{
    color: #ffa726;
    font-size: 32px;

}

p{
    font-size: 20px;
}

.post-content {
    flex: 1;
    padding: 40px;
    margin-left: 550px;    
}